@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script type="text/javascript" src="/Scripts/SomeViewModel.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="signalr/hubs"></script>
    <script type="text/javascript">
        $(function() {
            var someViewModel = new SomeViewModel(
            {
                CurrentGroceryList: "#currentGroceryList",
                Groceries: "#groceries",
                Recipes: "#recipes",

                AddGrocery: "#addGrocery",
                RemoveGrocery: "#removeGrocery"
            });

            someViewModel.Initialize();
        });
    </script>

<div class="row">
    <div class="col-md-2">
        <h2>Aktuell lista</h2>
        <ul id="currentGroceryList"></ul>
    </div>
    <div class="col-md-2">
        <input type="button" id="addGrocery" value="<" />
        <input type="button" id="removeGrocery" value=">"/>
        <input type="button" id="test"/>
    </div>
    <div class="col-md-2">
        <h2>Varor</h2>
        <ul id="groceries"></ul>
    </div>
    <div class="col-md-2">
        <h2>Recept</h2>
        <ul id="recipes"></ul>
    </div>
</div>