@model GroceryList.Models.Grocery
           
<div class="grocery">
    <h4>@Model.Name</h4>
    <p>
        <span class="right">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </span>
    </p>
</div>

